{% extends 'User_Home.html' %}
{% block content %}

<!doctype html>
{% load static %}


<html lang="en">
  <head>
  	<title>Table 02</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href=" {% static 'assets_tab/css/style.css' %} ">

	</head>
	<body>

<div class="card">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h1 class="heading-section" style="color:DeepPink">UR Vaccine</h1><br>
					<h2 class="heading-section">Report Card</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						 <tbody>
						  {% for i in data %}
						  <tr  class="tr-dark">
							  <th>Child Name</th><td>{{i.Patient.Child_name}}</td>
						  </tr>
						  <tr  class="tr-dark">
							  <th>Age</th>
							  <td>{{i.Patient.child_age}}</td>
						  </tr>
						  <tr  class="tr-dark">
							  <th>Gender</th>
							  <td>{{i.Patient.child_gender}}</td>
						  </tr>
						  <h3>Child is Successfully Vaccinated</h3>
						  <tr  class="tr-dark">
							  <th>Vaccine Name</th>
							  <td>{{i.vaccine.vaccine_name}}</td>
						  </tr>
						  <tr  class="tr-dark">
							  <th>Vaccine Type</th>
							  <td>{{i.vaccine.vaccine_type}}</td>
						  </tr>
						  <tr  class="tr-dark">
							  <th>Description</th>
							  <td>{{i.vaccine.Description}}</td>
						  </tr>
							<tr><td><a href="{% url 'Report' %}"><button class="btn btn-primary" onclick="window.print()">Download</button></a></td></tr>

						  </tbody>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

  <script src=" {% static 'assets_tab/js/jquery.min.js' %} "></script>
  <script src=" {% static 'assets_tab/js/popper.js' %} "></script>
  <script src=" {% static 'assets_tab/js/bootstrap.min.js' %} "></script>
  <script src=" {% static 'assets_tab/js/main.js' %} "></script>

	</body>
</html>

{% endblock %}