{% extends 'Admin_Home.html' %}
{% block content %}
{% load crispy_forms_tags %}

<section class="section">
  <div class="row">
    <div class="col-lg-9">

      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Reply</h3><br>

              <!-- General Form Elements -->
            <form method="post">{% csrf_token %}
                <div class="form-group">
                    <label class=" form-control-label">Subject</label>
                    <input  required  class="form-control" readonly value="{{complaint.subject}}">

                </div>
                 <div class="form-group">
                    <label class=" form-control-label">Complaint</label>
                    <input  required  class="form-control" readonly value="{{complaint.complaint}}">

                </div>
                 <div class="form-group">
                    <label for="reply" class=" form-control-label">Reply</label>
                    <textarea cols="5" rows="7" required id="reply" class="form-control" name="reply">
                </textarea>
                </div>

                <div class="form-actions form-group ">
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </div>
                    {% for message in messages %}
                    <div class="alert alert-primary" role="alert">
                        {{message}}
                    </div>
                    {% endfor %}
            </form><!-- End General Form Elements -->


        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}