{% extends 'Nurse_Home.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
 <section class="section">
  <div class="row">
    <div class="col-lg-9">

      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Add Schedules</h3><br><br>
                    <form method="post"> {% csrf_token %}

                        <div class="form-row-last">
                            {{form.hospital|as_crispy_field}}
                        </div><br>
                <!--        <div class="form-group">-->
                <!--            <div class="form-line">-->
                            <label>Date</label>
                                <input name="date" type="date" class="datepicker form-control" placeholder="Please choose a date..."><br>
                <!--            </div>-->
                <!--        </div>-->

                <!--         <div class="col-sm-4">-->
                <!--            <div class="form-group">-->
                <!--                <div class="form-line">-->
                            <label>Start Time</label>
                                    <input name="start_time" type="time" class="timepicker form-control" placeholder="Please choose a time..."><br>
                <!--                </div>-->
                <!--            </div>-->
                <!--        </div>-->
                <!--        <div class="col-sm-4">-->
                <!--            <div class="form-group">-->
                <!--                <div class="form-line">-->
                        <label>End Time</label>
                                    <input name="end_time" type="time" class="timepicker form-control" placeholder="Please choose a time..."><br>
                <!--                </div>-->
                <!--            </div>-->

                            <br><center>   <input type="submit" name="submit" value="submit" class="btn btn-primary"></center><br><br>
                <!--            </div>-->
                            {% for message in messages %}
                            <div class="alert alert-primary" role="alert">
                                {{message}}
                            </div>
                            {% endfor %}
                    </form>
            </div>
        </div>
    </div>
 </div>

{% endblock %}


