{% extends 'Nurse_Home.html' %}
{% block content %}

<!doctype html>
{% load static %}


<html lang="en">
  <head>
  	<title>Table 02</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href=" {% static 'assets_tab/css/style.css' %} ">

	</head>
	<body>

<div class="card">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Vaccine Schedule Details</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<form method="get" class="form-inline" style="float:right;">
						<div class="md-form my-o">
							{{scheduleFilter.form}}
							<button class="btn btn-primary mr-2" type="submit">Search</button>
						</div>
					</form><br><br><br>
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-dark">
						    <tr>
						      <th>hospital</th>
						      <th>date</th>
						      <th>start_time</th>
						      <th>end_time</th>
							  <th>Update</th>
							  <th>Delete</th>

						    </tr>
						  </thead>
						  <tbody>
						  {% for i in scheduleFilter.qs %}
						    <tr class="alert" role="alert">
<!--							<th scope="row">001</th>-->
						      <td>{{i.hospital}}</td>
						      <td>{{i.date}}</td>
						      <td>{{i.start_time}}</td>
						      <td>{{i.end_time}}</td>
							  <td><a href="{% url 'Update_Appointments' i.id %}"><button class="btn btn-success">Update</button></a></td>
							  <td><a href="{% url 'Delete_Appointments' i.id %}"><button class="btn btn-danger">Delete</button></a></td>

						    </tr>

						  </tbody>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src=" {% static 'assets_tab/js/jquery.min.js' %} "></script>
  <script src=" {% static 'assets_tab/js/popper.js' %} "></script>
  <script src=" {% static 'assets_tab/js/bootstrap.min.js' %} "></script>
  <script src=" {% static 'assets_tab/js/main.js' %} "></script>

	</body>
</html>

{% endblock %}